/**

Cascada de Estilos


**/


@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,700&display=swap');


body {
    margin: 1em auto;
    background-color: rgb(223, 218, 211);
    width: calc(100% - 2em);
    max-width: 900px;
}

#p5_loading {
    color: #00000047;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 2em;
    font-family: "Abril Fatface", serif;
  }

h2 {
    color: #0002;
    font-size: 5em;
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
    margin: 1em 0 0 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
}

.caso {
    position: relative;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.341);
    height: 20em;
    border-radius: 1ex;

    img {
        width: 100%; // Cambio para iniciar sin zoom
        height: auto;
        object-fit: cover;
        transition: filter 0.5s, transform 0.5s;
        transform-origin: center; // Centrar el zoom
    }

    .overlay {
        position: absolute;
        background-color: #0005;
        font-family: "Barlow", sans-serif;
        width: 100%;
        padding: 1em;
        top: 0;
        height: 100%; // Ajustar para cubrir todo el espacio vertical
        display: flex;
        flex-direction: column;
        justify-content: flex-end; // Coloca el título al final del overlay
        transition: transform 0.5s;
        transform: translateY(0); // Ajustar para mostrar sólo el título
        color: white;
        text-shadow: 1px 1px 2px #0006;

        h4 {
            position: absolute;
            font-size: 1.5em;
            font-weight: 700;
            text-transform: uppercase;
            bottom: 1em;
            width: calc(100% - 2em);
        }
        .desc {
            font-size: 1.2em;
            font-weight: 400;
            transform: translateY(100%);
            transition: transform 0.5s;
            width: calc(100% - 2em);
        }
    }


    &:hover {
        img {
            transform: scale(1.2); // Aplicar un zoom ligero
            filter: brightness(50%); // Oscurece la imagen para contraste
        }

        .overlay {
            transform: translateY(-50%); // Mover el overlay para mostrar la descripción
        }
    }
}

footer{
    padding: 2em;
    font-family: "Barlow", sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    nav{
        display: flex;
        flex-flow:row;
        justify-content: space-between;

        li{
            display: inline;
            a{
                display: inline-block;
                text-decoration: none;
                padding: 1ex 2ex;
                border-radius: 2ex;
                background-color: #0005;
                color: white;
                &:hover{
                    background-color: black;
                }
            }
        }
    }
}