/**

Cascada de Estilos


**/


// variables principales

$color-bg: rgba(5, 13, 68, 0.886);
$color-title: rgb(0, 154, 250);
$color-text: rgba(255, 255, 255, 0.866);
$color-overlay: rgba(13, 5, 63, 0.391);

// google fonts
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,700&display=swap');


body {
    margin: 1em auto;
    background-color: $color-bg;
    width: calc(100% - 2em);
    max-width: 900px;
}

#p5_loading {
    color: $color-title;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 2em;
    font-family: "Abril Fatface", serif;
  }

h2 {
    color: $color-title;
    font-size: 5em;
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
    margin: 1em 0 .5em 0;
    line-height: 85%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
}

.caso {
    position: relative;
    overflow: hidden;
    height: 15em;
    border-radius: 1ex;
    border: .3ex solid $color-text;

    img {
        object-fit: fill;
        transition: filter 0.5s, transform 0.5s;
        transform-origin: center; // Centrar el zoom
    }

    .overlay {
        position: absolute;
        background-color: $color-overlay;
        font-family: "Barlow", sans-serif;
        width: 100%;
        padding: 1em;
        top: 0;
        height: 100%; // Ajustar para cubrir todo el espacio vertical
        display: flex;
        flex-direction: column;
        justify-content: flex-end; // Coloca el título al final del overlay
        transition: transform 0.5s;
        transform: translateY(0); // Ajustar para mostrar sólo el título
        color: $color-text;
        text-shadow: 1px 1px 2px $color-overlay;

        h4 {
            position: absolute;
            font-size: 1.1em;
            font-weight: 700;
            text-transform: uppercase;
            bottom: 2em;
            width: calc(100% - 4em);
        }
        .desc {
            font-size: 1.2em;
            font-weight: 400;
            transform: translateY(100%);
            transition: transform 0.5s;
            width: calc(100% - 2em);
        }
    }

    &:hover {
        img {
            transform: scale(1.2); // Aplicar un zoom ligero
            filter: brightness(50%); // Oscurece la imagen para contraste
        }
    }
}

.single{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;

    img{
        width: 100%;
        height: auto;
        margin: 1em 0;
        border-radius: 2ex;
        border: .3ex solid $color-text;
    }

    .desc{
        margin: 1em 0;
        font-size: 1.2em;
        color:$color-text;
        font-family: Barlow;
    }

    a{
        color: $color-text;
        font-weight: bolder;
    }
}

footer{

    padding: 2em;
    font-family: "Barlow", sans-serif;
    text-transform: lowercase;

    nav{
        display: flex;
        flex-flow:row;
        justify-content: space-between;

        li{
            display: inline;
            margin: 1em;
            a{
                display: inline-block;
                text-decoration: none;
                padding: 1ex 2ex;
                border-radius: 2ex;
                background-color: $color-overlay;
                color: white;
                &:hover{
                    background-color: black;
                }
            }
        }
    }

    select{
        font-size: 18px;
        font-family: Barlow;
        padding: 1ex 2ex;
        border-radius: 2ex;
        border: 3px solid $color-text;
        font-weight: 800;
        color: $color-text;
        background-color: $color-overlay;
        margin-top: 1em;
    }
    
}

/************************** responsive: gracefull degradation **********************************/

// Definir variables para los breakpoints
$phone-vertical:   480px;   // Teléfonos en vertical
$phone-horizontal: 768px;   // Teléfonos en horizontal
$desktop:          1024px;  // Escritorio


// Media query para teléfonos horizontales
@media (max-width: $phone-horizontal) and (min-width: $phone-vertical + 1) {


    .container {
        grid-template-columns: repeat(2, 1fr); // 2 columnas para teléfono horizontal
    }
}

// Media query para teléfonos verticales
@media (max-width: $phone-vertical) {


    .container {
        grid-template-columns: 1fr; // 1 columna para teléfono vertical
    }

    .single{
        grid-template-columns: 1fr;
    }
}

